<launch>
    <!-- Inicia o nó da câmera -->
    <node name="camera_node" pkg="ros_opencv" type="camera_node_siro.py" output="screen">
        <!-- Configurações adicionais para o nó da câmera podem ser adicionadas aqui -->
    </node>

    <!-- Inicia o nó de detecção do robô -->
    <node name="robot_detection_node" pkg="ros_opencv" type="detector_robo_siro.py" output="screen">
        <!-- Configurações adicionais para o nó de detecção do robô podem ser adicionadas aqui -->
    </node>

    <node name="bola_detection_node" pkg="ros_opencv" type="detector_bola_siro.py" output="screen">
        <!-- Configurações adicionais para o nó de detecção do robô podem ser adicionadas aqui -->
    </node>

    <node name="controle_node" pkg="ros_opencv" type="controle_node_siro.py" output="screen"></node>
    
    <!--<node name="Andar_para_frente" pkg="ros_opencv" type="AndarFrente.py" output="screen"></node>-->
    
    <!-- Inicia o nó principal -->
    <node name="main_node" pkg="ros_opencv" type="main1_siro.py" output="screen">
        <!-- Configurações adicionais para o nó principal podem ser adicionadas aqui -->
    </node>
</launch>
